.top{
    display:flex;
    justify-content: space-evenly;
    margin-bottom: 10px;

}

.middle > div {
    margin-left: 5px;
    border-radius: 5px;
    width:150px;
    text-align: center;
    border: 1px solid rgb(201, 197, 197);
}


.right{
    display:flex;
}
.right > div {
    margin-left: 5px;
    border-radius: 5px;
    width:80px;
    text-align: center;
    border: 1px solid rgb(179, 175, 175);
}
section{
    margin: 0 auto;
    display: flex;
    border-radius: 5px;
    border: 1px solid rgb(223, 218, 218);
    width: 600px;
    height: 705px;
    padding-top: 25px;
    flex-direction: column;
    align-items: center;
}
.findOrOffer{
    display: flex;
    width: 500px;
    justify-content: space-around;
    margin-bottom: 40px;
}
.findOrOffer > div {
    border-radius: 5px;
    border: 1px solid rgb(201, 201, 201);
    width: 150px;
    text-align: center;
}


.findSpaceInput{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
}

.offerSpaceInput{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
}

.matchRightNow{
    margin-top:40px
}
.offerSpaceBtn{
    margin-top:40px
}