<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type="text/css" href="/static/css/booking.css">
    <link rel= "stylesheet" type="text/css" href="/static/css/nav.css">
    <style>
        .mask{
            width:100%;
            height:100%;
            background-color: white;
            position: absolute;
            display: none;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
        }

    </style>
    <title>Booking</title>
</head>
<body>
    <nav>
        <div class="top">
            <div class="left">EZpark</div>  
            <div class="right">
                <div class="rentNow">找車位</div>
                <div class="offerNow">供車位</div>
                <div class="member">會員</div>
                <div class="signIn">登入</div>
                <div class="logOut">登出</div>
                <div class="signUp">註冊</div>    
                
            </div>
        </div>
    </nav>

    <div class="mask">
        <img src="/static/css/preloader.gif" class="center">
    </div>
    <div class="availableList"></div> 

    <script src="/static/javascript/nav.js"></script>
    <script src="/static/javascript/booking.js"></script>

</body>
</html>