<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type="text/css" href="../static/css/field.css">
    <title>Sign Up Credit Card</title>
</head>
<body>

    <div>帳號註冊成功，請註冊信用卡</div>

    <div class="tpfield" id="card-number"></div>
    <div class="tpfield" id="card-expiration-date"></div>
    <div class="tpfield" id="card-ccv"></div>

    <button class="order-Btn">get prime</button>


<script src="https://js.tappaysdk.com/tpdirect/v5.9.0"></script>
<script src="../static/javascript/field.js"></script>    
</body>
</html>