<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type="text/css" href="/static/css/nav.css">
    <link rel= "stylesheet" type="text/css" href="/static/css/index.css">
    <link rel= "stylesheet" type="text/css" href="/static/css/member.css">
    <title>Taipei Parking</title>
</head>
<body>
    <nav>
        <div class="top">
            <div class="left">EZpark</div>  
            <div class="right">
                <div class="rentNow">找車位</div>
                <div class="offerNow">供車位</div>
                <div class="signIn">登入</div>
                <div class="signUp">註冊</div>    
                <div class="member">會員</div>
                <div class="logOut">登出</div>
            </div>
        </div>
    </nav>

    <div class="text">
        <div class="updateSpace">
            <div>修改已提供的車位</div>
        </div>
        <div class="allOrder">
            <div>查看進行中的訂單</div>
        </div>
        <div class="memberInfo">
            <div>查看車位累積收益</div>
        </div>
        <div class="changeCredit">
            <div>更換已註冊的卡片</div>
        </div>
    </div>

    <div class="spaceList"></div>

    <div class="orderList">
        <div class="unfinished-header">
            進行中的訂單：
            <div class="unfinished-list"></div>
        </div>
        <div class="finished-header">
            歷史訂單：
            <div class="finished-list"></div>
        </div>
    </div>

    <div class="memberInfoList"></div>
 
    <script src="/static/javascript/nav.js"></script>
    <script src="/static/javascript/member.js"></script>

</body>
</html>