<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>thank you</div>
    <button id="refundBtn">車位有狀況，及時退款</button>


<script>
    const orderId = document.URL.split("/").slice(-1)

    console.log(orderId[0])

    const refundBtn=document.querySelector('#refundBtn')

    refundBtn.addEventListener("click", function(){
    orderData={'orderId':orderId[0]}
    fetch('/api/refund/order',{
        method:'POST',
        body:JSON.stringify(orderData),
        headers: new Headers({
            "content-type":"application/json"
        })
    })
    .then(res => res.json())
    .then(function(data){
        console.log(data.data)
        if (data.data === "refundOk"){
            alert('系統已經自動退款')
            location.replace('/')
        }
    
    })
})

</script>
    
</body>
</html>